<h1>Posts</h1>
<%= form_tag search_post_path, method: :get do %>
  <p>
    <%= text_field :search, params[:search] %>
    <%= submit_tag "Search", name: :nil %>
  </p>
<% end %>
<h2><%= link_to "New Post", new_post_path %>
<hr>
<% @posts.each do |post| %>
  <%= link_to post.title, blog_path(post) %>
  <hr>
<% end %>
<%= will_paginate @posts %>
