<h1><%= @post.title.titleize %></h1>
<div class="post-body">
<p><%= @post.body %></p>
<p>Created by: <%= @post.user.first_name if @post.user %></p>
<% if @post.rated_1_by?(current_user) %>
  <%= link_to fa_icon("star"), post_rating_path(@post, current_user_rate, rating: {star_count: 1}), method: :patch %>
  <%= link_to fa_icon("star-o"), post_rating_path(@post, current_user_rate, rating: {star_count: 2}), method: :patch %>
  <%= link_to fa_icon("star-o"), post_rating_path(@post, current_user_rate, rating: {star_count: 3}), method: :patch %>
  <%= link_to fa_icon("star-o"), post_rating_path(@post, current_user_rate, rating: {star_count: 4}), method: :patch %>
  <%= link_to fa_icon("star-o"), post_rating_path(@post, current_user_rate, rating: {star_count: 5}), method: :patch %>
<% elsif @post.rated_2_by?(current_user) %>
  <%= link_to fa_icon("star"), post_rating_path(@post, current_user_rate, rating: {star_count: 1}), method: :patch %>
  <%= link_to fa_icon("star"), post_rating_path(@post, current_user_rate, rating: {star_count: 2}), method: :patch %>
  <%= link_to fa_icon("star-o"), post_rating_path(@post, current_user_rate, rating: {star_count: 3}), method: :patch %>
  <%= link_to fa_icon("star-o"), post_rating_path(@post, current_user_rate, rating: {star_count: 4}), method: :patch %>
  <%= link_to fa_icon("star-o"), post_rating_path(@post, current_user_rate, rating: {star_count: 5}), method: :patch %>
<% elsif @post.rated_3_by?(current_user) %>
  <%= link_to fa_icon("star"), post_rating_path(@post, current_user_rate, rating: {star_count: 1}), method: :patch %>
  <%= link_to fa_icon("star"), post_rating_path(@post, current_user_rate, rating: {star_count: 2}), method: :patch %>
  <%= link_to fa_icon("star"), post_rating_path(@post, current_user_rate, rating: {star_count: 3}), method: :patch %>
  <%= link_to fa_icon("star-o"), post_rating_path(@post, current_user_rate, rating: {star_count: 4}), method: :patch %>
  <%= link_to fa_icon("star-o"), post_rating_path(@post, current_user_rate, rating: {star_count: 5}), method: :patch %>
<% elsif @post.rated_4_by?(current_user) %>
  <%= link_to fa_icon("star"), post_rating_path(@post, current_user_rate, rating: {star_count: 1}), method: :patch %>
  <%= link_to fa_icon("star"), post_rating_path(@post, current_user_rate, rating: {star_count: 2}), method: :patch %>
  <%= link_to fa_icon("star"), post_rating_path(@post, current_user_rate, rating: {star_count: 3}), method: :patch %>
  <%= link_to fa_icon("star"), post_rating_path(@post, current_user_rate, rating: {star_count: 4}), method: :patch %>
  <%= link_to fa_icon("star-o"), post_rating_path(@post, current_user_rate, rating: {star_count: 5}), method: :patch %>
<% elsif @post.rated_5_by?(current_user) %>
  <%= link_to fa_icon("star"), post_rating_path(@post, current_user_rate, rating: {star_count: 1}), method: :patch %>
  <%= link_to fa_icon("star"), post_rating_path(@post, current_user_rate, rating: {star_count: 2}), method: :patch %>
  <%= link_to fa_icon("star"), post_rating_path(@post, current_user_rate, rating: {star_count: 3}), method: :patch %>
  <%= link_to fa_icon("star"), post_rating_path(@post, current_user_rate, rating: {star_count: 4}), method: :patch %>
  <%= link_to fa_icon("star"), post_rating_path(@post, current_user_rate, rating: {star_count: 5}), method: :patch %>
<% else %>
  <%= link_to fa_icon("star-o"), post_ratings_path(@post, rating: {star_count: 1}), method: :post %>
  <%= link_to fa_icon("star-o"), post_ratings_path(@post, rating: {star_count: 2}), method: :post %>
  <%= link_to fa_icon("star-o"), post_ratings_path(@post, rating: {star_count: 3}), method: :post %>
  <%= link_to fa_icon("star-o"), post_ratings_path(@post, rating: {star_count: 4}), method: :post %>
  <%= link_to fa_icon("star-o"), post_ratings_path(@post, rating: {star_count: 5}), method: :post %>
<% end %>
<% if @post.favourite_by?(current_user) %>
  <%= link_to fa_icon("heart"), post_favourite_path(@post, @post.favourite_for(current_user)), method: :delete %>
<% else %>
  <%= link_to fa_icon("heart-o"), post_favourites_path(@post), method: :post %>
<% end %>
</div>
<% if can? :manage, @post %>
  <%= link_to "Edit", edit_post_path(@post) %>
  <%= link_to "Delete", blog_path(@post), method: :delete,
                                                data: {confirm: "Are you sure?"} %>
<% end %>
<hr>
<h2>Comments</h2>
<%= @post.errors.full_messages.join(",") %>
<%= form_for [@post, @comment] do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>
<hr>
<% @post.comments.each do |comment| %>
  <%= comment.body %>
  <% if can? :manage, comment %>
    <%= link_to "Edit", edit_post_comment_path(@post, comment) %>
    <%= link_to "Delete", post_comment_path(@post, comment), method: :delete,
                                                data: {confirm: "Are you sure?"} %>
  <% end %>
  <hr>
<% end %>
