<h1><%= @post.title.titleize %></h1>
<div class="post-body">
<p><%= @post.body %></p>
<p>Created by: <%= @post.user.first_name if @post.user %></p>
</div>
<% if can? :manage, @post %>
  <%= link_to "Edit", edit_post_path(@post) %>
  <%= link_to "Delete", blog_path(@post), method: :delete,
                                                data: {confirm: "Are you sure?"} %>
<% end %>
<hr>
<h2>Comments</h2>
<%= @post.errors.full_messages.join(",") %>
<%= form_for [@post, @comment] do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>
<hr>
<% @post.comments.each do |comment| %>
  <%= comment.body %>
  <% if can? :manage, comment %>
    <%= link_to "Edit", edit_post_comment_path(@post, comment) %>
    <%= link_to "Delete", post_comment_path(@post, comment), method: :delete,
                                                data: {confirm: "Are you sure?"} %>
  <% end %>
  <hr>
<% end %>
